 .CenteredTitle {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #D73210;

    padding-top: 25px;

    font-size: 250%;
    font-weight: 800;
  
 }

 .CenteredSubTitle {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #FF9800;
  

    font-size: 100%;
    font-weight: 800;
 }

 .CenteredMinorText {

    margin: auto;
    text-align: center;
    color: #000000;
  

    font-size: 100%;
    font-weight: 800;
 }

 .Centered{
    margin-top:15px;
    margin-bottom:15px;
    text-align: center
     }