/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 5s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.donut {
    position: relative;
    top: 10em;
    left: 25em;
}
    
    .donut-md {
        position: relative;
        top: 8em;
        left: 5em;
     }
        

.text {
    position: absolute;
    text-align: center;
    left: 20em;
  h1{
   
    font-size:200%;
    position: absolute;
   
 }
}




.text-md {
    position: relative;
    text-align: center;
   
  h1{
    color:#081A35;
    font-size:200%;
    font-weight:700;
    position: absolute;
  top: -25px;
  left: 30px;
 
 }
}


.title {
    position: relative;
    text-align: center;
    left: 12em;
 h1{

    font-size:350%;
    position: absolute;
  
    bottom: -25px;
}    
}

.title-md {
   
    text-align: center;
    position: relative;
 h1{
    color: #081A35;
    position: absolute;
    bottom: 10px;

    font-size:300%;
  font-weight:800;

  
    
}    
}


.container {
    text-align: center;
    position: relative;
    text-align: center;
    
    bottom: 8%;
}

.animate__animated.animate__hinge {
    --animate-duration: 1s;
  }
  
  .animate__animated.animate__bounceInLeft  {
    --animate-duration: 2s;
  }
  
  .animate__animated.animate__animate__bounceInDown{
    --animate-duration:5s;
  }