<ion-header>

</ion-header>

<ion-content  scroll-y="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<div class="container">

<div class="ion-hide-lg-down">
  <div class="donut animate__animated animate__bounceInLeft "> <img src="assets/logo/DonutRun.png"></div>
<div class="title animate__animated animate__hinge  animate__delay-1s"><ion-title  color="primary"><h1> 404 Page Not Found</h1> </ion-title></div>
<div  class="text" > <ion-title color="secondary"><h1> Have a donut instead!</h1></ion-title></div> 
<div class="title animate__animated animate__bounceInDown  animate__delay-3s"><ion-title  color="primary"><h1> 404 Page Not Found</h1> </ion-title></div>
</div>
</div>


<div class="ion-hide-lg-up">
  <div class="donut-md animate__animated animate__bounceInLeft "> <img src="assets/logo/DonutRun.png">
  </div>
  <div class="title-md"><h1> 404 Page Not Found</h1></div>
<div  class="text-md" ><h1> Have a donut instead!</h1></div> 
</div>


</ion-content>
