/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.Cushion{
    padding:50 px;
}

.round{
    border-radius: 15px;
    object-fit: cover;
    height: 500px;
    width: 800px;
}

.otherPhotos{
    border-radius: 5px;
    object-fit: cover;
    height: 110px;
    width: 110px; 
    min-width: 100px;
}