@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

#swiperCard {
    display: flex;
    flex-direction: column;}
    
.MarginZero {
   margin: 0px;
   padding: 0px;
}

.button {
   color: #bdc6c9;
}

.Center {
   margin-left: auto;
   margin-right: auto
}

.Text {

   color: black;
   font-size: large
}

.Text2 {

   color: #FF9800;
   font-size: large;

}

.SubText {

   color: #919077;
   font-size: large;
}

.Title {
   font-weight: bolder;
   color:#D73210;
   font-size: 24px;

}


.Round {
   border-radius: 15px;
   object-fit: cover;
   height: 500px;
   width: 100%;
   margin-top: 12 px;
   margin-bottom:4px
}

.otherPhotos {
   border-radius: 5px;
   object-fit: cover;
   height: 108px;
   min-width: 108px;
   max-width: 108px;
  

 
}


#swiperCard {
   display: flex;
   flex-direction: column;
  
}
.swiper {
   height: 100%;
   width: 100%;
   padding-bottom: 40px;
}


.swiper-slide {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden
   
}

.box-shadow {
   border-radius: 15px;
   box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
}

.clear{
   background-color: white;
   padding-bottom: -2px;
}


.SwiperContainer{
   height:400px;
   img {
      width: 700px;
      height: 800px;
      object-fit: cover;
      border-radius:15px;

      border-radius: 15px;
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
  }
}

.Btn_Type{
   // position:sticky;
   --box-shadow:none;  
   --background: rgba(0,0,0,0);
   padding-bottom: 35px;
   --background-activated:rgba(0,0,0,0);
   --background-hover: rgba(0,0,0,0);
   --ripple-color: rgba(0,0,0,0);
   ion-icon{
      --ionicon-stroke-width: 50px;
   }


}

.MobileButtons{

}

.Centered{
// margin-left:50%;
text-align: center;

}

.Saved:hover {

   position: absolute;
   top: -90%;
   overflow: visible;
   font-weight: 700;
   color: #D73210;
   animation: fadeInUp;
 
   animation-duration: 2s;
   /* don't forget to set a duration! */

}

.Saved2:hover {

   position: absolute;
   top: -90%;
   overflow: visible;
   font-weight: 700;
   color:  #FF9800;
   animation: fadeInUp;
 
   animation-duration: 2s;
   /* don't forget to set a duration! */

}

.Saved {

   position: absolute;
   color: #d7311000;

}

.Saved2 {

   position: absolute;
   color: #d7311000;

}

ion-button {
   --overflow: visible;

}

ion-toolbar {

   --background: #dcdcdc00;
}


.changeBtn {
   width: 120px;
   color: white;
}

.btnText {
   margin-left: 5px;
}