.CenteredTitle {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #D73210;

    padding-top: 25px;

    font-size: 250%;
    font-weight: 800;
 }

 .Centered{
text-align: center;
margin-bottom: 15px;
 }

 .SubTitle {
    color: #FF9800;
    font-size: 500%;
    font-weight: 800;
 }

 .CenteredMinorText {

    margin: auto;
    text-align: center;
    color: #000000;
  

    font-size: 100%;
    font-weight: 800;
 }

 ion-label{
    font-size: 100%;
    font-weight: 800;
 }
 
 ion-fab-button{
margin-left: auto;
margin-right:auto;
  }
