<ion-toolbar color="primary">



  <ion-row>

    <ion-col size="1">
 
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      <img class="Logo" src="assets/logo.svg">
    </ion-col>
    <ion-col>
      <!-- Tried ion-title but it was acting strange, once we do styling we should replace this with a ion-title -->
      <h1>RexFinder</h1>
    </ion-col>
 
  </ion-row>
 
</ion-toolbar>

<ion-row>
  <ion-col>
  </ion-col>
  <ion-col>
    <ion-searchbar></ion-searchbar>
  </ion-col>
</ion-row>