<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Meet the Developers</h1>
  <ion-card>
    <!-- Amanda -->
    <img alt="Amanda Headshot" src="../../../assets/photos/amanda.JPG" />
    <ion-card-header>
      <ion-card-title>Amanda Tutalo</ion-card-title>
      <ion-card-subtitle>Nashville Tennessee</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!-- Hope -->
    <img alt="Hope Headshot" src="../../../assets/photos/hope.png" />
    <ion-card-header>
      <ion-card-title>Hope Ross</ion-card-title>
      <ion-card-subtitle>Franklin Tennessee</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Fun Hobby: I like to sing, which is ironic as an introvert with some serious stage fright. Mostly classical choir
      or church choir, but this year I learned how to use a mic to rock out during our Battle of the Bands.
    </ion-card-content>
    <ion-card-content>
      Fun Fact: I once designed and built my own tiny home, 144sq/ft of studio cabin.
    </ion-card-content>
    <ion-card-content>
      Interesting places you've visited or lived: I've lived in 12 states and 2 countries, including Turkey.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!-- Keith -->
    <img alt="Keith Headshot" src="../../../assets/photos/kieth.jpg" />
    <ion-card-header>
      <ion-card-title>Keith Isbell</ion-card-title>
      <ion-card-subtitle>Seattle Washington</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Fun Fact: My parents were missionaries in Latin America 25 years and I went back as a missionary for another 25
      years.
    </ion-card-content>
    <ion-card-content>
      Fun Hobby: I love traveling and living in “exotic” places.
    </ion-card-content>
    <ion-card-content>
      Goal for 2023: Find a remote job that allows for travel and ministry.
    </ion-card-content>
    <ion-card-content>
      Odd place you've visited or lived: lived in a town for more than 20 years called Shell, after the oil company that
      founded it, on the edge of Ecuador’s eastern Amazon jungle.
    </ion-card-content>
    <ion-card-content>
      Random factoid: I’ve tried different foods such as grubs, fried ants, monkey, crocodile and guinea pig.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!-- Kendall -->
    <img alt="Kendall and Koda Headshot" src="../../../assets/photos/kendall.jpg" />
    <ion-card-header>
      <ion-card-title>Kendall McHenry</ion-card-title>
      <ion-card-subtitle>Franklin Tennessee</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Fun Fact: I change my own oil!
    </ion-card-content>
    <ion-card-content>
      Fun Hobby: Literally anything with my dog. Koda is my 3-year-old Border Collie mix rescue pup. He is an absolute
      gift from God and bring so much joy to my life. I’m low-key obsessed with him. We spend a lot of time outdoors,
      adventuring, training, and making people smile. He’s never met a stranger!
    </ion-card-content>
    <ion-card-content>
      Odd place you’ve visited or lived: Rang in New Years 2017 with a random group of Norwegians at their home in the
      fjords of Bergen, Norway.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!-- Micah -->
    <img alt="Micah Headshot" src="../../../assets/photos/micah.jpg" />
    <ion-card-header>
      <ion-card-title>Micah Innerarity</ion-card-title>
      <ion-card-subtitle>Williamsport Pennsylvania</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Fun Hobby: I design and professionally run dungeons and dragons games on the side!
    </ion-card-content>
    <ion-card-content>
      Goal for 2023: Expand Foundation Gaming to publish physical and digital content. Then its time to start the real
      work and begin my development career this gives me and my wife the ability to really push towards our large
      long-term goals. I'd like to start development or at least save a decent sum for my wife's and I's plans to
      build on our 10 acres, including a small home, and campsites (hipcamp business!), and possibly an Airbnb.
    </ion-card-content>
    <ion-card-content>
      Odd place you've visited or lived: I lived in the loft of a barn for over a year. Pa winters are quite cold. So
      the answer to "were you raised in a barn..." is yes, yes I was.
    </ion-card-content>
  </ion-card>
</ion-content>