<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    class="ion-padding"
    color="light"
    placeholder="Search by Zipcode"
  ></ion-searchbar>

  <ion-slides [options]="catSlideOpts" class="ion-padding">
    <ion-slide *ngFor="let category of categoryTypes" class="categorySlider">
       <img [src]="category.img"
          (click)="onCategorySelect(category)"
        >
        <div class="category-type" [class.highlight]="category.selected == true">{{category.type}}</div>
        </ion-slide>
        </ion-slides>

  <ion-grid class="ion-padding">
    <ion-row
      class="ion-padding ion-justify-content-center ion-align-items-center"
    >
      <ion-button class="btn" color="light" (click)="toggleDataSource()">
        Search
      </ion-button></ion-row
    >

    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="6"
        size-lg="4"
        *ngFor="let place of searchResults"
        [routerLink]="['/place-details', place.place_id]"
        swiperSlide
      >
        <ion-card>
          <img
            width="100%"
            height="325"
            alt="{{place.photo_reference}}"
            src="{{place.photo_reference}}"
          />
          <ion-card-header>
            <ion-card-title>{{place.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <ion-card-subtitle>{{place.formatted_address}}</ion-card-subtitle> -->
            <ion-row class="ion-padding ion-justify-content-between">
              <div>{{place.rating}} <ion-icon name="star"></ion-icon></div>
              {{place.formatted_address}}
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
