ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.SearchCard {
    max-height: 300px;
    max-width: 300px;
}

.Center{
    margin-left: auto;
    margin-right: auto;
}

.Btn_Type{
    margin: 0px 10px;
}

.highlight {
    border: solid 2px #032b3d ! important;
}

ion-col {
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}
