@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

#swiperCard {
    display: flex;
    flex-direction: column;
}
.swiper {
    width: 100%;
    padding-bottom: 40px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.categoryRow {
    height: 100px;
}
.searchResultsCard {
    min-width: 250px;
}
.searchResultsCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
