@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

#swiperCard {
    display: flex;
    flex-direction: column;
}
.swiper {
    width: 100%;
    padding-bottom: 40px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.searchResultsCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.placesPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: auto;
    height: 200px;
}
.cardText {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}