<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        ><ion-icon name="chevron-back-outline"></ion-icon
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Cushion">
    <ion-item>
      <ion-grid>

        <div class="ion-padding-horizontal ion-text-center">
          <h1>Account Details</h1>
        </div>

        <ion-row>
          <ion-text>
            <h5>Username:</h5>
            <p>{{this.currentUser.username}}</p>
          </ion-text>
        </ion-row>
        
        <ion-row>
          <ion-text>
            <h5>Email:</h5>
            <p>{{this.currentUser.email}}</p>
          </ion-text>
        </ion-row>

        <ion-row *ngIf="this.currentUser.firstName">
          <ion-text>
            <h5>First Name:</h5>
            <p>{{this.currentUser.firstName}}</p>
          </ion-text>
        </ion-row>

        <ion-row *ngIf="this.currentUser.lastName">
          <ion-text>
            <h5>Last Name:</h5>
            <p>{{this.currentUser.lastName}}</p>
          </ion-text>
        </ion-row>

        <ion-row *ngIf="this.currentUser.location">
          <ion-text>
            <h5>My Location:</h5>
            <p>{{this.currentUser.location}}</p>
          </ion-text>
        </ion-row>

      </ion-grid>
    </ion-item>
  </div>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/edit-account']">Edit Details</ion-button>
  </div>
</ion-content>
