<ion-content>
  <div class="hero-image">
    <div class="hero-text">
      <p>What are you waiting for?</p>
      <ion-button (click)="SearchPage()"> Start your journey </ion-button>
    </div>
  </div>

  <p class="Filler-Text">
    An taima palis tehto hap. Úil telco nalanta or, oia oaris cotumo elendë ëa,
    lá vírë tulca timpinen tul. Ar nur onótima taniquelassë. Yá axo ataquë
    mirilya tanwëataquë, ep nún tasar racinë, varta tasar é mat. Up lívë inqua
    nal, tyávë amanyar goneheca lis lá. Rambë artaquetta né erë. Nu cemna foina
    caw, lápa nainië mittanya iel cé. As pio yára liquis. Má yulmë rambë ríc.
    Sín tó talta hwarma, laira nostalë mel us. Viltë tasar lindë her sú, ainu
    tussa amilessë aha ep, sir et yúyo hecil nahamna. Nú centa pereldar lav. Et
    halda hesta nót. Cemna cotumo tol er, engë alatúvëaúra tuo ar, men rauko
    melissë mí.
  </p>
  <app-footer></app-footer>
</ion-content>
