body, html {
    height: 100%;
}

//On bigger screens
.hero-image {
  position: relative;
  width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
  }

.hero-image .btn {
  position: absolute;
    height: 20%;
    max-height: 60px;
    font-size: large;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

//On smaller screens
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.button-container .btn {
  width: 100%;
  max-width: 250px;
}

.btn {
  min-height: 55px;
}
