
  <ion-content>
    <div class="Bottom">
  <div class="Top">
    <h4 class="Text4" >If you are ever in the area of</h4>
    <h2 class="Text3">{{currentDonutShop.donutShopCityState}}</h2>
    <h4 class="Text4">May we suggest the following donut shop?</h4>
   </div>

 
  
  <div class="Card">
   

    <img class="Photo" src="{{currentDonutShop.donutShopPhotoURL}}" /><br />
    <h1 class="Title2">  {{currentDonutShop.donutShopName}} </h1>
    <p class="Text">
      {{currentDonutShop.donutShopAddress}}<br />
      {{currentDonutShop.donutShopCityState}}
    </p>
  <div >
      <a  class="MinorTxt" href="{{currentDonutShop.donutShopWebsite}}">Visit their website</a>
    </div>
  </div>

</div>
</ion-content>

<app-footer></app-footer>