
  <ion-content>
    <div class="Bottom">
  <div class="Top">
    <h4 class="Text4" >If you are ever in the area of</h4>
    <h2 class="Text3">{{currentDonutShop.donutShopCityState}}</h2>
    <h4 class="Text4">May we suggest the following donut shop?</h4>
   </div>

 
  
  <ion-card class="Card">
   
    <ion-item-divider><h1 class="Title">  {{currentDonutShop.donutShopName}} </h1></ion-item-divider>
    <img class="Photos" src="{{currentDonutShop.donutShopPhotoURL}}" /><br />
    <p class="Text">
      {{currentDonutShop.donutShopAddress}}<br />
      {{currentDonutShop.donutShopCityState}}
    </p>
  <div class="Text2">
      <a  href="{{currentDonutShop.donutShopWebsite}}">Visit their website</a>
    </div>
  </ion-card>
  <app-footer></app-footer>
</div>
</ion-content>

