img {
    max-height: 25em;
}

.Card{
  
    width:70%;
    min-width: 335px;
    margin:auto;
    margin-top: 25px;
   
}

 
 .MinorTxt{
    font-weight: bolder;
    color:#D73210;
    display:block;
    font-size: 150%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
 }

 .Title2{
   font-weight: bolder;
   color:#081A35;
   font-size: 300%;
   margin: auto;
   text-align: center;
   padding-top: 15px;

}
  
 .Text{
    font-weight: bolder;
    color: #FF9800;
    font-size: 150%;
    margin: auto;
    text-align: center;
    padding-top: 15px;

 }

 .Text2{
    font-weight: bolder;
    color:#081A35;
    display:block;
    font-size: 250%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
 }

 
 .Text3{
    font-weight: bolder;
    color: #FF9800;
    display:block;
    font-size: 250%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
 }

 
 .Text4{
    font-weight: bolder;
    color:#D73210;
    display:block;
    font-size: 250%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
 }

 .Top{
    margin-top: 50px;
 }
.Bottom {
   margin: 25px;
}

 .Photo {
   object-fit:cover;
   height: auto;
   width: 100%;
   min-width: 200px;
   max-height: 800px;
   border-radius: 15px;
   box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
}