<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>    
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <h1 >My Places</h1>
        <p>Find all the places you've saved here! Once you've been to a place, mark it as "Visited" so that you know where've you've already been. Looking for a specific type of place? Filter through your current places for specific results.</p>
      </ion-col>
    </ion-row>
    <div class="ion-padding filterContainer">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col class="filterForm">
          <ion-accordion-group (ionChange)="useFilter()" class="">
            <ion-accordion value="filterPlaces">
              <ion-item slot="header" color="light">
                <ion-label>Filter</ion-label>
              </ion-item>
            </ion-accordion>
          </ion-accordion-group>
          <ion-item-group *ngIf="this.usefilterPlaces">
            <form (ngSubmit)="filterMyPlaces()">
              <ion-list>
                <ion-item>
                  <ion-label>Filter by Place Type</ion-label>
                  <ion-select interface="popover" placeholder="Select Type" (ngModel)="this.filterValue"
                    (ionChange)="setTypeFilter($event)">
                    <ion-select-option *ngFor="let option of typeFilterOptions" [value]="option">{{option}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <div class="ion-text-end">
                <ion-button class="btn" color="secondary" type="submit">Apply</ion-button>
              </div>
            </form>
            <div class="ion-text-end">
              <ion-button (click)="clearFilter()" class="btn" color="primary" type="submit">Clear Filter</ion-button>
            </div>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </div>
    <!--My Saved Places Carousel-->
    <ion-row>
      <ion-col>
        <h3 class="ion-padding-horizontal">Places I Want To Go</h3>
      </ion-col>
    </ion-row>
    <!--Loops through visited places-->
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- <ion-item *ngFor="let place of myVisitedPlaces; let i = index;">
            <div class="photoContainer">
              <ion-img [src]="place.photo_reference" alt="avatar"></ion-img>
            </div>
            <ion-label
              class="ion-padding"
              [routerLink]="['/place-details', place.place_id]"
            >
              <h2>{{ place.name }}</h2>
              <p>{{place.formatted_address}}</p>
              <p class="types"><b>Type:</b> {{place.types[0]}}</p>
            </ion-label>
          </ion-item> -->
          <!--Loops through unvisited places-->
          <ion-item *ngFor="let place of myUnvisitedPlaces; let i = index;">
            <div class="photoContainer">
              <ion-img [src]="place.photo_reference" alt="avatar"></ion-img>
            </div>
            <ion-label class="ion-padding" [routerLink]="['/place-details', place.place_id]">
              <h2>{{ place.name }}</h2>
              <p>{{place.formatted_address}}</p>
              <p class="types"><b>Type:</b> {{place.types[0]}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>

    <!--My Visited Places Carousel-->
    <ion-row>
      <ion-col>
        <h3 class="ion-padding-horizontal">Places I've Been</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let place of myVisitedPlaces; let i = index;">
            <div class="photoContainer">
              <ion-img [src]="place.photo_reference" alt="avatar"></ion-img>
            </div>
            <ion-label class="ion-padding" [routerLink]="['/place-details', place.place_id]">
              <h2>{{ place.name }}</h2>
              <p>{{place.formatted_address}}</p>
              <p class="types"><b>Type:</b> {{place.types[0]}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>