<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--My Saved Places - found by current UserId-->
  <div class="ion-padding-horizontal">
    <h2>My Saved Places</h2>
  </div>
  <ion-card *ngFor="let place of myVisitedPlaces" [routerLink]="['/place-details', place?.place_id]">
    <ion-card-header>
      <ion-card-title>{{place.name}} </ion-card-title>
      <ion-card-subtitle>{{place.types}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{place.formatted_address}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let place of myUnvisitedPlaces" [routerLink]="['/place-details', place?.place_id]">
    <ion-card-header>
      <ion-card-title>{{place.name}} </ion-card-title>
      <ion-card-subtitle>{{place.types}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{place.formatted_address}}</p>
    </ion-card-content>
  </ion-card>


  <!--My Visited Places - found by current UserId-->
  <div class="ion-padding-horizontal">
    <h2>My Visited Places</h2>
  </div>
  <ion-card *ngFor="let place of myVisitedPlaces" [routerLink]="['/place-details', place?.place_id]">
    <ion-card-header>
      <ion-card-title>{{place.name}} </ion-card-title>
      <ion-card-subtitle>{{place.types}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{place.formatted_address}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>

